/* Dark Theme Styles */
.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #121212; /* Dark background */
    padding: 20px;
    margin-top:0px;
}

.home-page-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 40px;
    color: #f0f0f0; /* Light text for dark background */
}

.game-categories {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1200px;
}

.game-card {
    background-color: #1e1e1e; /* Dark card background */
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease;
}

.game-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-bottom: 2px solid #eee;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.game-image:hover {
    transform: scale(1.05);
}

.game-details {
    padding: 20px;
}

.game-title {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
    color: #fff;
}

.game-description {
    font-size: 16px;
    color: #ccc;
    margin-bottom: 15px;
}

.game-link {
    font-size: 16px;
    background-color: #007bff;
    color:#f0f0f0;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.game-link:hover {
    color: #0056b3;
}

/* Modal Styles */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    position: relative;
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}

.modal-image {
    max-width: 100%;
    max-height: 80vh;
    object-fit: contain;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #f44336;
    color: white;
    border: none;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
}

.close-button:hover {
    background-color: #d32f2f;
}

.pay-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
}

.pay-button:hover {
    background-color: #45a049;
}

.paragraph-home{
    color:#121212;
}