.ul-elements-home{
    padding:10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    box-shadow:2px 5px 5px 2px solid #ffffff ;
    height:10vh;
    margin-top:0px;
    margin-bottom:0px;
    background-color: rgb(14, 2, 28);
}

.link{
    color:#ffffff;
    background-color: transparent;
    border: none;
    outline: none;
}

.link:hover{
    border: none !important;
    background-color: transparent !important;
    outline: none !important;
}

.list-elements{
    list-style-type:none ;
}

.logo-header{
    height:9vh;
    margin:10px;
    width:90%;
    border-radius: 70px;
}

.link-header{
    color:#ffffff;
    font-size:20px;
    font-weight: bold;

}

.image-logo{
    height: 8vh;
    width: 100%;
    border-radius: 50px;
}